body,
html {
    height: 100%;
}

body {
    background-color: lightgray;
    margin: 0;
    display: flex;
    flex-direction: column;
}

$navbar-height: 6rem;

#navbar {
    height: $navbar-height;
    background-color: darkgray;

    h1 {
        margin: 0;
        padding: 0.5em 1rem;
        text-align: center;
    }
}

#workspace {
    flex: 1;

    display: flex;
    flex-wrap: wrap;
}

#editor,
#explorer {
    height: calc(100vh - #{$navbar-height});
    $padding: 1rem;
    padding: 0 $padding $padding $padding;
}

#editor {
    background-color: yellow;

    flex: clamp(500px, 75%, 1000px);

    display: flex;
    flex-direction: column;

    & > div {
        flex: 1;
        background-color: red;

        display: flex;
        align-items: stretch;
        flex-wrap: wrap;
    }

    #view-area {
        flex: clamp(300px, 60%, 1000px);
        background-color: blue;
    }

    #customization-area {
        flex: clamp(300px, 40%, 800px);
        background-color: blueviolet;
    }
}

#explorer {
    flex: clamp(300px, 25%, 800px);
    background-color: red;
    display: flex;
    flex-direction: column;

    [type="radio"] {
        /* hiding the inputs */
        display: none;
    }

    .gallery {
        /* hiding the contents by default */
        display: none;
        flex: 1;
        flex-direction: row;
        flex-wrap: wrap;
        overflow-y: scroll;
        justify-content: space-evenly;
        padding: 1rem;
    }

    [type="radio"]:checked + .gallery {
        display: flex;
    }

    img {
        object-fit: cover;
    }

    .tabs {
        display: flex;
    }

    .tab > label {
        text-transform: uppercase;
        letter-spacing: 1px;
        cursor: pointer;
    }
}

/* Style tabs */
$tabs-border-size: 2px;
#explorer {
    .tabs {
        border-bottom: solid $tabs-border-size gray;
        margin: $tabs-border-size;
    }

    .tab {
        margin-bottom: -$tabs-border-size;
        padding: 0.5rem 1rem;
        color: gray;
        border-bottom: solid $tabs-border-size transparent;

        &:hover {
            color: black;
        }

        &.checked {
            color: black;
            border-color: black;
        }
    }
}
